<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
    <header>

    </header>
    <main>
        <%- body -%>
    </main>
    <br>
    <br>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</html>

