<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
  <main class="main">
      <%- body -%>
  </main>
  <footer class="navbar">
      <% include ../partials/footer %>
  </footer>
</body>
</html>
