<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <meta charset="utf-8">
    <title>Shout it!</title>
    <link rel="shortcut icon" type="image/png" href="megaphone.png">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      
    </header>
    <main>
      <%- body -%>
    </main>
    <footer>
      <% include ../partials/footer %>
    </footer>
</body>
</html>