body {
/*  padding: 3%;*/
  font: 14px 'Open Sans', sans-serif;
}

.text-center {
    font-size: 1.5rem;
    text-align: center;
}

nav.navbar {
  box-shadow: 0px 4px 10px 0 rgba(22,22,22,0.2);
  margin-bottom: 0;
}

.nav > li > a {
  color: darkslategray;  /* color de los menús barra superior */
}

.nav > li.nav-logo {
  width: 174px;
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -87px;
}

.nav-logo-image {

  width: 50px;
}

.nav > .li-logout {
  padding: 8px;
}

.btn-logout {
  color: black;
  padding-top: 15px;
}

.login{
    font-weight: bolder;
    color: darkslategray;
}

.home-heading {
  background-color: #E3ECFA;  /* color fondo index */
  width:85vw;
  height:75vh;
    margin: 0 auto;
  padding: 0 30%;
  position: relative;
}

.home-heading-wrapper {
  padding: 0 5%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.home-heading-wrapper > h1 {
    font-size: 9rem;
    color: #832161;   /* color moradito cool jaja*/
}
p {
    font-size: 3vh;
}
a {
  color: #832161;
}

.info-container{  /*container information*/
    width: 100vw;
    height: auto;
    padding: 5% 10% 0% 10%;
}

.container-fluid{
    padding-top: 0.1%;
}

.info-title{   /* info titles */
    color:#832161;   /* color moradito cool jaja*/
    box-shadow: 0px 4px 10px 0 rgba(22,22,22,0.2);
    background-color: #E3ECFA;
    padding: 1%;
    width: 50%;
}

.join-button{   /* join now button */
    width: 25vh;
    color:#832161;   /* color moradito cool jaja*/
    margin: 0 auto;  /* how to allign something in the center */
}

.btn-default {  /* read more button*/
    border-radius:5px;
    background-color: ghostwhite;
    color: #333;
    padding: 2%;
}

.btn-default:hover {  /* read more button*/
    border-radius:5px;
    background-color: darkslategray;
    color: ghostwhite;
    padding: 2%;
}

.project-row {
  margin-top: 3%;
}

.home-project-box {
    float: left;
  border: 1px solid #d3d3d3;
  height: 300px;
  margin: 30px 4%;
  padding: 0;

}

.home-project-box img {
    width: 30%;
    height: 45%;
    object-fit: cover;
    align-content: center;
}

.project-info-wrapper {
  padding: 5px 7px;
  font-size: 0.9em;
}

.project-info-wrapper > .description {
  display: block;
  margin-top: 20px;
}

.project-info-wrapper > .title {
  color: black;
  font-size: 1.5em;
}

.project-info-wrapper > .admin{
    color: #832161;
    text-transform: uppercase;
}

.project-image {
  width: 100%;
  height: 500px;
}

.project-total {
  font-size: 1.9em;
  color: #05AF3C;
}

.light-text {
  color: #626369;
}

.large-strong {
  font-size: 1.4em;
}

progress {
  width: 100%;
}

.project-info div {
  margin-bottom: 15px;
}

.project-container .row { /* REV*/
  padding: 35px 0;
}

/* ######## */
.title-signin{  /*log in welcome*/
    width:100vw;
    padding: 1vh 5vw;
}

.login-container{  /*log in form*/
    padding: 3% 0;
    
}

.no-account{
    font-size: 1.8rem;
    padding-left: 5%;
}
.no-account > a {
    color: #832161
}

.welcome-msg{
    width:90vw;
    padding: 5% 0 10% 5%;
    color: red;
}

.user-pic-profile > img {
    float: left;
    object-fit: cover;
    border-radius:50%;
    width: 150px;
    height: 150px;
    
}

.hello{
    height:auto;
    float: left;
    width: auto;
    font-size: 5vw;
    color: darkslategray;
    padding-top: 2%;
    padding-left:4%;
}

.username {
    font-size: 5vw;
    float: left;
    color: #832161;
    padding-top: 2%;
    text-transform: lowercase;
}

.username:first-letter {
    text-transform: uppercase;
}

.pic-update{
    width: 20vw;
    float: right;
}

/*
.form-group {
    
    
    height
    
}
*/

.user-options{
    clear: both;
    width: 80vw;
    height: 60vh;
    clear: both;
    font-size: 2rem;
    padding: 5%;
    margin: 0 auto;
}

.option-box{
    float: left;
    width: 50%;
    height: 50%;
    text-align: center;
    
}
.option-box > a{  
    padding: 10%;
    border: 1px solid darkslategray;
    background-color: #E3ECFA;
    border-radius: 15px;
    position: relative;
    top: 45%;
    font: 1.5rem;
    color:darkslategray;
}










.backer-btn {
  background-color: #25CB68;
  border-radius: 3px;
  border: 1px solid black;
  color: white;
  width: 300px;
  height: 75px;
  padding: 2.4rem 4.8rem;
  font-size: 1.8rem;
}

.backer-btn:hover {
  color: white;
  background-color: #05AF3C;
}

.project-category {
  font-size: 1.4rem;
  border: 1px solid black;
  padding: 10px 0;
  text-align: center;
  float: right;
  width: 70px;
}

.project-description {
  padding-right: 275px;
}
#Name{
  text-align: center;
  text-transform: uppercase;
  color:#832161;
}

.myprofile{
  text-align: left;
  padding-left: 4%;
}
.upper-container{
  border: 1px solid blue;
  margin-left:50px;
}
.middle-container {
  margin-left:50px;
  padding:5%;
  width:80vw;
  height:60vh;
  border:1px solid yellow;
}

.left-side{
  width:50%;
  height:30vh;
  border: 1px solid red;
  float:left;
  text-align: center;

}

.left-side > img {
  object-fit: cover;
  border-radius:50%;
  width: 150px;
  height: 150px;
}




.right-side{
  width:50%;
  height:30vh;
  border: 1px solid blue;
  float:left;
}
#profilepic{
  max-width: 30%;
  margin-left: 50px;
}
