<p class="text-center text-muted">©&nbsp;&nbsp;&nbsp;
  <span class="glyphicon glyphicon-bullhorn"></span>
  &nbsp;&nbsp;&nbsp;Shout it!&nbsp;&nbsp;-&nbsp;&nbsp;IronHack
  <span class="glyphicon glyphicon-heart"></span> BCN 2017&nbsp;&nbsp;&nbsp;
</p>
