<link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
<meta charset="UTF-8">
<title>Shout it! - Projects happen </title>
<!-- CSS (load bootstrap from a CDN) -->
<link rel="shortcut icon" type="image/png" href="megaphone.png">
<link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet/style.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"><link rel='stylesheet' href='/stylesheets/style.css' />
