<nav class="navbar">
    <div class="collapse navbar-collapse" id="home-nav">
        <a class="img-logo">
            <img class="nav-logo-image" src="/images/logo_720.png" alt="Shout it Logo">
        </a>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <form action="/logout" method="POST">
                    <button class="logout-btn" type="submit">&nbsp;<span class="glyphicon glyphicon-log-out"></span>&nbsp;&nbsp;Logout
                </form>
            </li>

            <li>
                <a href="/profile">&nbsp;<span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;Home</a>
            </li>

            <li>
                <a href="/profile/edit">&nbsp;<span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;Edit your profile</a>
            </li>
        </ul>
    </div>
</nav>