<% include ../partials/header %>
<div class="info-container">
  <div class="upper-container-request">
    <h1>Describe your contribution</h1>
  </div>
  <div class="lower-container-request">
    <div class="form-group">
        <label for="contribution">Describe your contribution</label>
        <input id="description" name="description" class="form-control" placeholder="Brief description"></input>
    </div>
  </div>
  <div class="form-group">
       <button type="submit">Send Request</button>
  </div>
</div>