<% include ../partials/header3 %>
    <div class="home-heading2">
        <br>
        <div class="enhancer">Enhance your profile</div>
        <div class="container">
            <div class="col-sm-4 centered-form edit-form">
                <form action="/profile/edit" method="post">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" name="name" class="form-control" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label for="lastname">Lastname</label>
                        <input type="text" name="lastname" class="form-control" placeholder="Lastname">
                    </div>
                    <div class="form-group">
                        <label for="telephone">Telephone &nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-phone-alt"></span></label>
                        <input id="description" name="telephone" class="form-control" placeholder="1234567890"></input>
                    </div>
                    <div class="form-group">
                        <label for="campus">Campus</label><br>
                        <select name="campus" id="campus">
                        <% campusTypes.forEach((campus) => { %>
                            <option type="text" value="<%= campus %>" class="form-control"><%= campus %></option>
                        <%  }) %>
          </select>
                    </div>
                    <div class="form-group">
                        <label for="department">Department</label><br>
                        <select name="department" id="department">
                        <% departmentTypes.forEach((department) => { %>
                          <option type="text" value="<%= department %>" class="form-control"><%= department %></option>
                        <%  }) %>
          </select>
                    </div>
                    <div class="form-group">
                        <label for="skills">Your main skills &nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-th-list"></span></label>
                        <input id="skills" name="skills" class="form-control" placeholder="skill1, skill2, skill3, ...">
                    </div>

               

                    <div class="form-group create-button">
                        <input class="btn btn-default" type="submit" value="Submit changes">
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
