<% include ../partials/header %>
<div class="container-signup">
  <div class="hello">
    <h1>Hello<%= user.username %></h1>
  </div>
<div class="functions">
      <li><a href="/profile/edit">Edit your profile</a></li>
      <li><a href="/profile/projects">Projects</a></li>
</div>


    <div class="form-group">
        <h2>Upload your photo</h2>
        <form action="/profile" method="post" enctype="multipart/form-data">
            <input type="text" name="name">
            <input type="file" name="photo">
            <button type="submit">Upload a picture...<span class="glyphicon glyphicon-picture"></span></button>
        </form>
    </div>
</div>
