<nav class="navbar">
    <div class="collapse navbar-collapse" id="home-nav">
        <a class="img-logo" href="/">
            <img class="nav-logo-image" src="/images/logo_720.png" alt="Shout it Logo">
        </a>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="/login">&nbsp;<span class="glyphicon glyphicon-lock"></span>&nbsp;&nbsp;Login</a>
            </li>
        </ul>
    </div>
</nav>

<div class="info-container">
    <div class="login-form">
        <form action="/signup" method="post">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" name="username" class="form-control" placeholder="researcher123">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" name="email" class="form-control" placeholder="researcher123@upc.edu">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control" placeholder="Your password">
            </div>
            <br>
            <input class="btn btn-default" type="submit" value="Sign up">
        </form>
    </div>
    <div>
        <div class="lower-text">
            <p>Already have an account?</p>&nbsp;&nbsp;<a href="/login">Login here&nbsp;&nbsp;<span class="glyphicon glyphicon-lock"></span></a>
        </div>
    </div>

</div>
