<nav class="navbar">
    <div class="collapse navbar-collapse" id="home-nav">
        <a class="img-logo">
            <img class="nav-logo-image" src="/images/logo_720.png" alt="Shout it Logo">
        </a>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="/login">&nbsp;<span class="glyphicon glyphicon-lock"></span>&nbsp;&nbsp;Login</a>
            </li>
            <li>
                <a href="/signup">&nbsp;<span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;Signup</a>
            </li>
        </ul>
    </div>
</nav>

<div class="index-container">
    <div class="home-heading-wrapper">
        <h1>Projects happen here</h1>
        <p>Change the way you work and improve your productivity!</p>
        <br><br>
        <a class="btn btn-default" href="/information">Read more &nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-align-justify"></span></a>
    </div>
</div>
