<nav class="navbar">
    <div class="container-fluid">
<!--
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#home-nav" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
-->

        <div class="collapse navbar-collapse" id="home-nav">
            <ul class="nav navbar-nav">
                <li class="nav-logo">
                    <img class="nav-logo-image" src="/images/megaphone.png" alt="Shout it Logo">
                    <span>Shout it!</span>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-search"></span>
                    </a>
                </li>
                <li><a href="/login"><span class="glyphicon glyphicon-user"></span> &nbsp;Login</a></li>
                <li><a href="/signup">&nbsp;<span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;Signup</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="info-container">
    <div class="info-title">
        <h1>Shout it!</h1>
    </div>
    <h3 style="text-align:justify">
        Shout it is a new application that will help you and your organization create multidisciplinary projects in an easier way. Avoiding repetition among the <strong>researchers</strong> and improving their productivity.
    </h3>
    <div class="info-title">
        <h1>How does it work?</h1>
    </div>
    <h3 style="text-align:justify">
        By creating an account you will get automatic access to other <strong>researchers</strong> from the same organization and their projects. You can either contribute to different projects or request <strong>researchers</strong> to work in your project as well. You can also upload your work, so people can see what you have been up to. It is all very easy!
        <br>
        <br>
        <br>
    </h3>
</div>
<div class="join-button">
    <h1 style="text-align:center"><a href="/signup">Join now!</a></h1>
</div>
