<nav class="navbar">
    <div class="collapse navbar-collapse" id="home-nav">
        <a class="img-logo" href="/">
            <img class="nav-logo-image" src="/images/logo_720.png" alt="Shout it Logo">
        </a>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="/login">&nbsp;<span class="glyphicon glyphicon-lock"></span>&nbsp;&nbsp;Login</a>
            </li>
            <li>
                <a href="/signup">&nbsp;<span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;Signup</a>
            </li>
        </ul>
    </div>
</nav>

<div class="info-container">
    <div class="info-container-inside">
        <h2>Cooperation</h2>
        <br>
        <img src="/images/merge.png" id="img-info" alt="">
        <p>
            Shout it is a new application that will help you and your organization create multidisciplinary projects in an easier way. Avoiding repetition among the researchers and improving their productivity.
        </p>
    </div>
    <div class="info-container-inside">
        <h2>Functionality</h2>
        <br>
        <img src="/images/functionality.png" id="img-info" alt="">
        <p>
            By creating an account you will get automatic access to other researchers from the same organization and their projects. You can either participate in a project or request researchers to work in yours as well.
        </p>
    </div>
    <div class="info-container-inside">
        <h2>Productivity</h2>
        <br>
        <img src="/images/productivity.png" id="img-info" alt="">
        <p>
            Increase the amount of projects and enhance your investigations with Shout it! Just sign in Shout it and start seeing the immediate benefits of this great app! Make the most out of new technologies and make your life easier!
        </p>
    </div>
    <div class="join-now">
        <a href="/signup">Join now!</a>
    </div>
