<nav class="navbar">
    <div class="collapse navbar-collapse" id="home-nav">
        <a class="img-logo" href="/">
            <img class="nav-logo-image" src="/images/logo_720.png" alt="Shout it Logo">
        </a>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="/login"><span class="glyphicon glyphicon-lock"></span>Login</a>
            </li>
            <li>
                <a href="/signup">Signup</a>
            </li>
        </ul>
    </div>
</nav>

<div class="info-container">
    <div class="info-title">
        <h1>Shout it!</h1>
    </div>
    <h3 style="text-align:justify">
        Shout it is a new application that will help you and your organization create multidisciplinary projects in an easier way. Avoiding repetition among the <strong>researchers</strong> and improving their productivity.
    </h3>
    <div class="info-title">
        <h1>How does it work?</h1>
    </div>
    <h3 style="text-align:justify">
        By creating an account you will get automatic access to other <strong>researchers</strong> from the same organization and their projects. You can either contribute to different projects or request <strong>researchers</strong> to work in your project as well. You can also upload your work, so people can see what you have been up to. It is all very easy!
        <br>
        <br>
        <br>
    </h3>
</div>
<div class="join-button">
    <h1 style="text-align:center"><a href="/signup">Join now!</a></h1>
</div>
