<nav class="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#home-nav" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div class="collapse navbar-collapse" id="home-nav">
          <ul class="nav navbar-nav">
            <li class="nav-logo">
                <img class="nav-logo-image" src="images/megaphone.png" alt="Shout it Logo">
                <span>Shout it!</span>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="#">
                <span class="glyphicon glyphicon-search"></span>
              </a>
            </li>
              <li><a href="/login">Login</a></li>
          </ul>
        </div>
      </div>
    </nav>

<div class="container-fluid">
  <div class="home-heading text-center row">
    <div class="home-heading-wrapper">
      <h1>Sign up successful!</h1>
      <p>Log in to start checking how to improve your productivity!</p>
      <a class="btn btn-default" href="/login">Login</a>
    </div>
  </div>
</div>